/*For adaptive*/
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

h1{
	font-size: 70px;
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
}
h2{
	font-family: 'Comfortaa', cursive;
	font-size: 50px;
	font-weight: 400;
}
h3{
	font-family: 'Comfortaa', cursive;
	font-size: 30px;
	font-weight: 700;
}
body{
	font-weight: 400;
	background: #edeef0;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}
a{text-decoration: none;}
a{
	color: #ff9c24;
}
a:hover{
	color: #ff8c00;
}
/*Стиль блока*/
.gr_style{
	box-shadow: 0 2px 0 0 #d7d8db, 0 0 0 2px #e3e4e8;
	background-color: #fff;
	padding: 1rem;
	max-width: 100%;
}
/*Форма обратной связи*/
.contact-form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
} 
	.contact-form textarea{
		padding: 1rem;
	}
	.contact-form input, textarea{
		border:0.1rem solid #eee;
	}
	.inline-form-group{
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}
	.inline-form-group input{
		margin-right: 1rem;
		margin-left: 1rem;
		width: 100%;
		padding: 1rem;
	}
		.inline-form-group input:last-child{
			margin-right: 0;
		}
		.inline-form-group input:first-child{
			margin-left: 0;
		}
/*Классы для кнорок*/
.btn{
	border:0.1rem solid transparent;
	border: 0;
	padding: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
	.btn-send{
		color: #fff;
		background: #ff9c24;
	}
/*Классы для отступов*/
.mt-1{margin-top: 1rem;}.mt-2{margin-top: 2rem;}.mt-3{margin-top: 3rem;}

.header-background{
	position: relative;
	background: url("https://i.gifer.com/6q85.gif") top center no-repeat;
	background-size: 1930px;
	height: 700px;
}
.background-shadow{
	position: absolute;
	background-color: #000;
	height: 100%;
	width: 100%;
	opacity: 0.1;
	transition: 0.5s;
}
/*HEADER*/
	#info__header{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		z-index: 2;
	}
	.top-info{
		margin: auto 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		height: 100%;
		width: auto;
	}
		.top-info .photo-wrapper{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
			.photo-wrapper .photo{
				background: url("../images/avatar.jpg") top center no-repeat;
				background-size: 200px;
				background-color: black;
				height: 200px;
				width: 200px;
				border-radius: 100%;
				border: 0.3rem solid #fff;
			}
		.headline{
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
			.headline .place{
				display: flex;
				flex-direction: row;
				justify-content: center;
				color: #eee;
			}
			.headline .name{
				margin-top: 0.3rem;
				display: flex;
				flex-direction: row;
				justify-content: center;
				color: #fcab3a;
				font-weight: 700;
			}
.wrapper{
	max-width: 960px;
	align-items: center;
	margin: 0 auto;
}
/*	About section: */
.about_section{
	font-family: 'Comfortaa', cursive;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	margin-top: 3rem;
}
.contacts_section{
	justify-content: space-around;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}
.skills_description li{
	list-style-type: none;
	margin-top: 2rem;
	font-family: 'Montserrat', sans-serif;
}
.skills_description li::before {
  color: #ba46f0;
  content: "▪"; 
  padding-right: 10px;
}
.contacts_other{
	text-align: center;
}
.contacts li{
	margin-top: 2rem;
}
	.contact-item{
		list-style-type: none;
		font-family: 'Comfortaa', cursive;
		font-weight: 700;
	}
		.contact-item span{
			padding-left: 1rem;
		}
/*SWIPER*/
.swiper-container {
	background: #fff;
max-width: 100%;
padding-top: 5rem;
padding-bottom: 5rem;
}
.swiper-slide {
background-position: center;
background-size: cover;
width: 300px;
height: 300px;
}
.swiper-pagination{
	margin-top: 3rem;
}
.swiper-pagination-bullet{
	height: 1.5rem;
	width: 1.5rem;
}

.portfolio-item{
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
	.portfolio-item img{
		width: 80%;
	}
.section_headline{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media(max-width: 1200px){
	.header-nav a{
		font-weight: 300;
		text-decoration: none;
		color: #000;
		padding: 1.5rem;
		border-bottom: 0.3rem solid transparent;
	}
}
@media (min-width: 960px) {
	.header-nav a{
		font-weight: 300;
		text-decoration: none;
		color: #000;
		padding: 3rem;
		border-bottom: 0.3rem solid transparent;
	}
}
@media (max-width: 960px) {
	.header-nav a{
		padding: 2rem;
	}
  .portfolio-section{
		display: flex;
	}
	.portfolio-item{
		padding: 1rem;
	}
	body{
		font-size: 18px;
	}
	.headline h1{
		font-size: 40px;
	}
	.portfolio-item img{
		width: 100%;
	}
	header{
		max-width: 100%;
	}
	.header-backgrount{
		max-width: 100%;
	}
	.wrapper{
		max-width: 100%;
		margin: 0 1rem;
	}
}
@media(min-width: 550px){
	.header{
		display: flex;
		justify-content: center;
		background-color: #fff;
	}
	.header-nav{
		display: inherit;
	}
	
	.header-nav a:hover{
		color: #ff9c24;
		border-bottom: 0.3rem solid #ff9c24;
	}
}
@media (max-width: 550px){
	.swiper-pagination{
		display: none;
	}
	.header{
		display: flex;
		background-color: #fff;
	}
	.header-nav{
		width: 100%;
		display: inherit;
		justify-content: center;
		text-align: center;
		flex-direction: column;
	}
	.header-nav a{
		font-weight: 300;
		text-decoration: none;
		color: #000;
		padding: 1.5rem;
		border-top: 0.1rem solid transparent;
		border-bottom: 0.1rem solid #eee;
	}
	
	h1{
		font-size: 50px;
	}
	h2{
		font-size: 35px;
	}
	h3{
		font-size: 20px;
	}
	body{
		font-size: 15px;
	}

}


